[gcode_macro START_PRINT]
gcode:
    CLEAR_PAUSE
    SET_IDLE_TIMEOUT TIMEOUT=900
    G90             ; absolute positioning
    M82             ; absolute extruder mode
    M107            ; turn fan off
    ; G29           ; bed mesh levelling
    BED_MESH_PROFILE LOAD=cr10s
    G28             ; move to origin
    ; PRIME_LINE

# prime the nozzle 
[gcode_macro PRIME_LINE]
gcode: 
    SAVE_GCODE_STATE NAME=PRIME_LINE_state
    G91                                 ; relative positioning
    G92 E0                              ; reset extruder
    G1 Z2.0 F3000                       ; move Z Axis up
    G1 X20 Y30 Z0.28 F5000.0            ; move to start position
    G1 X20 Y200.0 Z0.28 F1500.0 E15     ; draw the first line
    G1 X22 Y200.0 Z0.28 F5000.0         ; move to side a little
    G1 X22 Y50 Z0.28 F1500.0 E30        ; draw the second line
    G92 E0                              ; reset Extruder
    G1 Z2.0 F3000                       ; move Z Axis up
    RESTORE_GCODE_STATE NAME=PRIME_LINE_state

[gcode_macro END_PRINT]
gcode:
    G91             ; relative positioning
    G1 Z10          ; move Z Axis up
    G1 E-5 F300    ; retract filament
    G90             ; absolute positioning
    G1 X0 Y300      ; present print
    M107            ; turn fan off
    M104 S0         ; turn-off hotend
    M140 S0         ; turn-off heat bed
    M84             ; turn off all motors
    BED_MESH_CLEAR

# Filament change
[gcode_macro M600]
gcode:
    PAUSE_MACRO
    UNLOAD

[gcode_macro PAUSE_MACRO]
gcode:
    ; SAVE_GCODE_STATE NAME=PAUSE_state
    PAUSE
    RESPOND TYPE=command MSG=action:paused
    PARK_MACRO
    SET_IDLE_TIMEOUT TIMEOUT=3600

[gcode_macro RESUME_MACRO]
gcode:
    SET_IDLE_TIMEOUT TIMEOUT=600
    ; RESTORE_GCODE_STATE NAME=PAUSE_state
    RESUME
    RESPOND TYPE=command MSG=action:resumed

[gcode_macro PARK_MACRO]
default_parameter_X: 20
default_parameter_Y: 280
default_parameter_Z: 100
gcode:
    SAVE_GCODE_STATE NAME=PARK_MACRO_state
    G91                     ; relative positioning
    G1 E-2 F1000            ; retract filament
    G1 Z10                  ; lift z slightly             
    G90                     ; absolute positioning
    G1 X{X} Y{Y} Z{Z} F3000 ; park the head
    RESTORE_GCODE_STATE name=PARK_MACRO_state

[gcode_macro UNLOAD]
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_state
    G91                 ; relative positioning
    G1 E5.0 F1200       ; extrude a little
    G1 E3.0 F1600       ; extrude a little more
    G1 E-13.14 F7000    ; retract
    G1 E-540 F3000      ; retract a lot more
    RESTORE_GCODE_STATE name=UNLOAD_state

[gcode_macro PURGE]
gcode:
    SAVE_GCODE_STATE NAME=PURGE_state
    G91                 ; relative positioning
    G1 E45.0 F2500      ; purge
    RESTORE_GCODE_STATE name=PURGE_state

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    G91                 ; relative positioning
    G1 E25.0 F1000      ; extrude
    G1 E435 F2500       ; extrude a lot more
    G4 P900             ; dwell
    G1 E45.0 F2500      ; extrude a littel more
    RESTORE_GCODE_STATE name=LOAD_FILAMENT

# z-tilt-adjust
[gcode_macro Z_TILT_MACRO]
gcode:
    G28                 ; move to origin
    Z_TILT_ADJUST

# probe-calibrate
[gcode_macro PROBE_CALIBRATE_MACRO]
gcode:
    G28                 ; move to origin
    PROBE_CALIBRATE

# Bed Levelling (Automatic)
[gcode_macro G29]
gcode:
    G28                 ; move to origin
    ; Z_TILT_ADJUST
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=cr10s
    G28 Z
    ; SAVE_CONFIG

[force_move]
enable_force_move: True

[pause_resume]

[respond]
default_type: echo

[bed_mesh]
speed: 450
horizontal_move_z: 8
mesh_min: 40,40
mesh_max: 260,260
probe_count: 5
algorithm: bicubic

[probe]
pin: !P1.25
x_offset: -25
y_offset: -18
speed: 20.0

[z_tilt]
z_positions:
  329,150
  -29,150
points:
  32,150
  175,150
  293,150
speed: 450

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
# step_distance: 0.025      # (4 calculated)
step_distance: 0.0063     # (16 calculated)
# step_distance: 0.0031       # (32 calculated)
endstop_pin: !P1.29 
position_endstop: -13
position_min: -13
position_max: 300
homing_speed: 250

[tmc2209 stepper_x]
uart_pin: P1.17
microsteps: 16
interpolate: True
run_current: 1.27
hold_current: 0.9
# stealthchop_threshold: 183 # 275 RPM
stealthchop_threshold: 60

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
# step_distance: 0.025      # (4 calculated)
step_distance: 0.0063     # (16 calculated)
# step_distance: 0.0031       # (32 calculated)
endstop_pin: !P1.27 
position_endstop: -5
position_min: -5
position_max: 300
homing_speed: 250

[tmc2209 stepper_y]
uart_pin: P1.15
microsteps: 16
interpolate: True
run_current: 1.27
hold_current: 0.9
# stealthchop_threshold: 183 # 275 RPM
stealthchop_threshold: 60

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
# step_distance: .01     # 4 (calculated) 
step_distance: .0025     # 16 (calculated)
endstop_pin: probe:z_virtual_endstop
position_min: -3
position_max: 400
homing_speed: 30
 
[tmc2209 stepper_z]
uart_pin: P1.10
microsteps: 16
interpolate: True
run_current: 1.27
hold_current: 0.9
# stealthchop_threshold: 183 # 275 RPM
stealthchop_threshold: 60

[stepper_z1]
step_pin: P0.1
dir_pin: !P0.0
enable_pin: !P0.10
# step_distance: .01     # 4 (calculated) 
step_distance: .0025     # 16 (calculated)
 
[tmc2209 stepper_z1]
uart_pin: P1.1
microsteps: 16
interpolate: True
run_current: 1.27
hold_current: 0.9
# stealthchop_threshold: 183 # 275 RPM
stealthchop_threshold: 60

[safe_z_home]
home_xy_position: 160,160
speed: 700
z_hop: 10
z_hop_speed: 100

# thermistor values taken from https://www.sliceengineering.com/pages/documentation
[thermistor mosquito_thermistor]
temperature1 = 20
resistance1 = 613400
temperature2 = 190
resistance2 = 4509
temperature3 = 260
resistance3 = 1359

### To tune extruder step_distance:
## mark 120mm from extruder entrance
## M83
## G1 E100 F100
## ((120 - measured) / 100) * current_step_distance

[extruder]
max_extrude_only_distance: 100.0
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.7
sensor_type: mosquito_thermistor
sensor_pin: P0.24
min_temp: 0
max_temp: 270
step_distance: 0.002409  # (BMG recommended value)
max_extrude_cross_section: 5

###   PRESSURE ADVANCE CONFIG    ###
## PLA:
# pressure_advance: 0.67     # Overture SpaceLight Gray 1.75mm PLA
pressure_advance: 0.96     # Overture Blue 1.75mm PLA
# pressure_advance: 0.78     # Overture Space Gray 1.75mm PLA
# pressure_advance: 0.9196   # Overture Black 1.75mm PLA
# pressure_advance: 0.6376   # Overture White 1.75mm PLA
# pressure_advance: 0.86     # Overture Red 1.75mm PLA
## PLA+
# pressure_advance: 0.5448   # Overture Light Gray 1.75mm PLA+
## PETG
# pressure_advance: 0.6888   # Overture Blue 1.75mm PETG
# pressure_advance: 0.6212     # Overture Red 1.75mm PETG

[tmc2209 extruder]
uart_pin: P1.8
microsteps: 16
interpolate: False
run_current: 1.07
hold_current: 0.869
# stealthchop_threshold: 183 # 275 RPM
stealthchop_threshold: 10

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 150

[fan]
pin: P2.3

# hotend fan wired into the second extruder heater output marked 'HE1'
[heater_fan e0_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 0.75

[filament_switch_sensor filament]
pause_on_runout: False
runout_gcode: PAUSE_MACRO
pause_delay: 1 
switch_pin: ^!P1.24

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_0380000407083DAFA845665CC42000F5-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 4500
#max_accel_to_decel: 400
max_z_velocity: 30
max_z_accel: 100
# square_corner_velocity: 3

######################################################################
# no display...
######################################################################

#####  NOTE: The above is all specific to my printer.  If you are
#####  using this as a base for your own config, delete the entire
#####  section as it is auto-generated by Klipper when SAVE_CONFIG
#####  g-code command is used...

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 1.350
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.289
#*# pid_ki = 2.768
#*# pid_kd = 112.482
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.017500, -0.065000, -0.110000, -0.147500, -0.112500
#*# 	  0.035000, -0.025000, -0.060000, -0.100000, -0.092500
#*# 	  0.020000, -0.032500, -0.085000, -0.142500, -0.162500
#*# 	  -0.040000, -0.062500, -0.117500, -0.205000, -0.270000
#*# 	  -0.182500, -0.185000, -0.255000, -0.380000, -0.495000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 29.9999
#*# max_x = 269.998800001
#*# min_y = 30.0001
#*# max_y = 279.999600001
#*#
#*# [bed_mesh cr10s]
#*# version = 1
#*# points =
#*# 	  -0.017500, -0.065000, -0.110000, -0.147500, -0.112500
#*# 	  0.035000, -0.025000, -0.060000, -0.100000, -0.092500
#*# 	  0.020000, -0.032500, -0.085000, -0.142500, -0.162500
#*# 	  -0.040000, -0.062500, -0.117500, -0.205000, -0.270000
#*# 	  -0.182500, -0.185000, -0.255000, -0.380000, -0.495000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 29.9999
#*# max_x = 269.998800001
#*# min_y = 30.0001
#*# max_y = 279.999600001
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.561
#*# pid_ki = 0.486
#*# pid_kd = 1474.275
